<footer class="footer">
	<div class="footer__line footer__line_nc">
		<h2><img alt="Netcat" src="/images/logofull.png"></h2>
		<h2 class="less">
			1999-2016<br>
			OOO «НетКэт»
		</h2>
	</div>
	<div class="footer__line">
		<h2>ПРОДУКТЫ</h2>
		<div class="footer__cols">
			<div class="col">			
				<a href="#">Standard</a>
				<a href="#">Standard+</a>
				<a href="#">Business</a>
			</div>
			<div class="col">			
				<a href="#">Corporate</a>
				<a href="#">E-commerce</a>
				<a href="#">Extra</a>
			</div>
		</div>
	</div>
	<div class="footer__line">
		<a href="#">Заказать сайт</a>
		<a href="#">Демо-версия</a>
	</div>
	<div class="footer__line">
		<a href="#">Для разработчиков</a>
		<a href="#">Для партнеров</a>
		<a href="#">Поддержка</a>
		<a href="#">Блог</a>
		<a href="#">О компании</a>
		<a href="#">Адрес и контакты</a>
	</div>
	<div class="footer__line footer__line_big">
		<h2>ДЛЯ ТЕХНИЧЕСКИХ ВОПРОСОВ</h2>
		<a href="#">support@netcat.ru</a>
		<br>
		<h2>ДЛЯ ОБЩИХ ВОПРОСОВ</h2>
		+ 7 (495) 783-60-21<br>
		info@netcat.ru
		<div class="social">
			<a href="#"><img src="/images/icons/vk.png"></a>
			<a href="#"><img src="/images/icons/tw.png"></a>
			<a href="#"><img src="/images/icons/fb.png"></a>
		</div>
		<div class="download">
			<a href="#">Скачать презентацию <img src="/images/icons/download.png"></a>
		</div>
	</div>	
</footer>