<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>@@title</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta property="og:title" content="@@title">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="article">
	<meta property="og:url" content= "http://netcat.ru/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="/css/style.css">
</head>