<div class="landings js-animationElement animation-bounceUp">
	<img alt="landings" src="/images/landings.jpg">
	<div class="landings__header">Неткэт для лендингов</div>
	<div class="landings__text">
		Используйте <a href="#">суперспособность Неткэт</a> — создавайте неограниченное количество <nobr class="typo">промо-страниц</nobr>                            
		или превращайте карточки товаров в лендинги  нажатием одной кнопки, получая уникальный   гибридный <nobr class="typo">интернет-магазин</nobr>
	</div>
</div>