<div class="news js-animationElement animation-bounceUp">
	<h2 class="sites__header"><a href="#">Новости для вас</a></h2>
	<div class="newsContainer">
		<div class="newsContainer__item">
			<a href="#">
				<div class="itemContent">
					<div class="roundFoto" style="background-image: url('/images/man3.jpg')"></div>
					<div class="content">
						<b>27 ИЮЛЯ 2016</b>
						Неткэт поздравляет: День рождения арт-директора Netcat Николая Лапина
					</div>
				</div>
			</a>
		</div>
		<div class="newsContainer__item">
			<a href="#">
				<div class="itemContent">
					<div class="roundFoto" style="background-image: url('/images/man3.jpg')"></div>
					<div class="content">
						<b>27 ИЮЛЯ 2016</b>
						Неткэт поздравляет: День рождения арт-директора Netcat Николая Лапина
					</div>
				</div>
			</a>
		</div>
		<div class="newsContainer__item">
			<a href="#">
				<div class="itemContent">
					<div class="roundFoto" style="background-image: url('/images/man3.jpg')"></div>
					<div class="content">
						<b>27 ИЮЛЯ 2016</b>
						Неткэт поздравляет: День рождения арт-директора Netcat Николая Лапина
					</div>
				</div>
			</a>
		</div>
	</div>
</div>