<div class="redactions js-animationElement animation-bounceUp">
	<div class="redactionsLink swiper-container js-sliderLinksContainer">
		<div class="swiper-wrapper">
			<div class="swiper-slide swiper-slide-active">
				<a class="redactionsLink__item redactionsLink__item_active js-sliderLink" href="#corporate">
					Для корпоративных сайтов
				</a>
			</div>
			<div class="swiper-slide">
				<a class="redactionsLink__item js-sliderLink" href="#standardplus">
					Для сервисов
				</a>
			</div>
			<div class="swiper-slide">
				<a class="redactionsLink__item js-sliderLink" href="#ecommerce">
					Для интернет-магазинов
				</a>
			</div>
			<div class="linkBlock">
				<a class="redactionsLink__item" href="#">
					все продукты
					<img alt="arrow" src="/images/icons/arrowRight.png">
				</a>
			</div>
		</div>
	</div>
	<div class="redactionsSlidesContainer">
		<div class="redactionsSlidesContainer__overflow js-slider swiper-container">
			<div class="swiper-wrapper">
				<div class="redactionsSlide swiper-slide" data-slide="corporate">	
					<img class="redactionsSlide__image" alt="Netcat Corporate" src="/images/corporate.jpg">
					<h2 class="redactionsSlide__header">
						<a href="#">Netcat Corporate</a> <img alt="portfolio" src="/images/portfolio.png"><br>
						для крупного новостного или корпоративного портала
					</h2>
					<ul class="redactionsSlide__advantages">
						<li>
							<img alt="ok" src="/images/icons/ok.png">
							Разделение прав между пользователями
						</li>
						<li>
							<img alt="ok" src="/images/icons/ok.png">
							Подходит для блога, социальной сети и онлайн-СМИ
						</li>
						<li>
							<img alt="ok" src="/images/icons/ok.png">
							Конструктор продающих лендингов в комплекте
						</li>
					</ul>
				</div>
				<div class="redactionsSlide swiper-slide" data-slide="standardplus">	
					<img class="redactionsSlide__image" alt="Netcat Standard +" src="/images/standardplus.jpg">
					<h2 class="redactionsSlide__header">
						<a href="#">Netcat Standard +</a> <img alt="graph" src="/images/graph.png"><br>
						для корпоративного сайта с личным кабинетом клиента
					</h2>
					<ul class="redactionsSlide__advantages">
						<li>
							<img alt="ok" src="/images/icons/ok.png">
							Личный кабинет для клиентской базы
						</li>
						<li>
							<img alt="ok" src="/images/icons/ok.png">
							Отлично подходит для сайта с услугами
						</li>
						<li>
							<img alt="ok" src="/images/icons/ok.png">
							Конструктор продающих лендингов в комплекте
						</li>
					</ul>
				</div>
				<div class="redactionsSlide swiper-slide" data-slide="ecommerce">
					<img class="redactionsSlide__image" alt="Netcat E-commerce" src="/images/ecommerce.jpg">
					<h2 class="redactionsSlide__header">
						<a href="#">Netcat E-commerce</a> <img alt="basket" src="/images/basket.png">
						помогает управлять интернет-магазином любой величины, в том числе крупным ритейлом
					</h2>
					<ul class="redactionsSlide__advantages">
						<li>
							<img alt="ok" src="/images/icons/ok.png">
							Синхронизация с 1С:Предприятием
						</li>
						<li>
							<img alt="ok" src="/images/icons/ok.png">
							Интеграция с платёжными системами
						</li>
						<li>
							<img alt="ok" src="/images/icons/ok.png">
							Конструктор продающих лендингов в комплекте
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>