<div class="reviews js-reviews js-animationElement animation-bounceUp">
	<div>
		<div class="reviews__avatar" data-reviewItem="1">
			<div class="avatarContainerIcons"></div>
			<div class="avatarContainer" style="background-image: url('/images/man1.jpg');"></div>
			Иван Иванов
			<div class="description">
				из какого-то агенства
			</div>
		</div>
		<div class="reviews__avatar reviews__avatar_hide" data-reviewItem="2">
			<div class="avatarContainerIcons"></div>
			<div class="avatarContainer" style="background-image: url('/images/man2.jpg');"></div>
			Пётр Петров
			<div class="description">
				из какого-то агенства
			</div>
		</div>
		<div class="reviews__avatar reviews__avatar_hide" data-reviewItem="3">
			<div class="avatarContainerIcons"></div>
			<div class="avatarContainer" style="background-image: url('/images/man3.jpg');"></div>
			Иван Иванов
			<div class="description">
				из какого-то агенства
			</div>
		</div>
		<div class="reviews__avatar reviews__avatar_hide" data-reviewItem="4">
			<div class="avatarContainerIcons"></div>
			<div class="avatarContainer" style="background-image: url('/images/man4.jpg');"></div>
			Иван Иванов
			<div class="description">
				из какого-то агенства
			</div>
		</div>		
		<div class="otherReviews">
			<a class="active js-reviewsLink" data-review="1" href="#">
				<div class="avatarContainer avatarContainer_preview" style="background-image: url('/images/man1.jpg');"></div>
			</a>
			<a class="js-reviewsLink" data-review="2" href="#">
				<div class="avatarContainer avatarContainer_preview" style="background-image: url('/images/man2.jpg');"></div>
			</a>
			<a class="js-reviewsLink" data-review="3" href="#">
				<div class="avatarContainer avatarContainer_preview" style="background-image: url('/images/man3.jpg');"></div>
			</a>
			<a class="js-reviewsLink" data-review="4" href="#">
				<div class="avatarContainer avatarContainer_preview" style="background-image: url('/images/man4.jpg');"></div>
			</a>
		</div>
	</div>
	<div>
		<div class="reviews__info" data-reviewItem="1">
			<div class="infoIcons"></div>
			<h2>Для сложных проектов, при сжатых сроках и ограниченном бюджете, мы выбираем Неткэт</h2>
			Отличительная особенность Netcat CMS в том, что она очень проста в управлении и настройке.  При этом по своему функционалу Неткэт не уступает другим, более тяжеловесным системам.
		</div>
		<div class="reviews__info reviews__info_hide" data-reviewItem="2">
			<div class="infoIcons"></div>
			<h2>Для лёгких проектов, при сжатых сроках и ограниченном бюджете, мы выбираем Неткэт</h2>
			Отличительная особенность Netcat CMS в том, что она очень проста в управлении и настройке.  При этом по своему функционалу Неткэт не уступает другим, более тяжеловесным системам.
		</div>
		<div class="reviews__info reviews__info_hide" data-reviewItem="3">
			<div class="infoIcons"></div>
			<h2>Для проектов, при сжатых сроках и ограниченном бюджете, мы выбираем Неткэт</h2>
			Отличительная особенность Netcat CMS в том, что она очень проста в управлении и настройке.  При этом по своему функционалу Неткэт не уступает другим, более тяжеловесным системам.
		</div>
		<div class="reviews__info reviews__info_hide" data-reviewItem="4">
			<div class="infoIcons"></div>
			<h2>Для средних проектов, при сжатых сроках и ограниченном бюджете, мы выбираем Неткэт</h2>
			Отличительная особенность Netcat CMS в том, что она очень проста в управлении и настройке.  При этом по своему функционалу Неткэт не уступает другим, более тяжеловесным системам.
		</div>
	</div>
</div>