<div class="sites js-animationElement animation-bounceUp">
	<h2 class="sites__header"><a href="#">Сайты на Неткэте</a></h2>
	<div class="siteBlocks">
		<div class="siteBlocks__item siteBlocks__item_banner">
			<a href="#">
				<div class="description">
					<div>
						<b>Сайты на Неткэте</b>
						<div>Как создавался интернет-магазин Svetodiod96.ru на Неткэте</div>
					</div>
				</div>
				<img alt="banner" src="/images/banner.jpg">
			</a>
		</div>
		<div class="siteBlocks__item">
			<a href="#"><img class="screen" alt="screen" src="/images/screen.jpg"></a>
			<div class="description">
				<div>
					<a href="#">Сайты на Неткэте</a>
					<div>Как создавался сайт для фотографов 365dayz.ru на Неткэте</div>
				</div>
			</div>
		</div>
		<div class="siteBlocks__item">
			<a href="#"><img class="screen" alt="screen" src="/images/screen.jpg"></a>
			<div class="description">
				<div>
					<a href="#">Сайты на Неткэте</a>
					<div>Как создавался сайт для фотографов 365dayz.ru на Неткэте</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hr hr_limit"></div>