<div class="statistics js-animationElement animation-bounceUp">
	<div class="statistics__item">
		<b>1900</b>
		разработчиков
		<div class="description">
			Легко найти дизайнера или разработчика на Неткэт
		</div>
	</div>
	<div class="statistics__vr"></div>
	<div class="statistics__item">
		<b>15000+</b>
		сайтов
		<div class="description">
			Netcat подходит для сайта любого масштаба: от лендинга до магазина
		</div>
	</div>
	<div class="statistics__vr"></div>
	<div class="statistics__item">
		<b>16</b>
		лет развития
		<div class="description">
			В последней версии Неткэта появился <a href="#">Умный конструктор лендингов</a>
		</div>
	</div>
</div>
<div class="clearfix"></div>