<div class="variants js-animationElement animation-bounceUp">
	<div class="buyNetcat">
		<a href="#">
			<img alt="Купить Netcat" src="/images/buy.png">
			<div class="variants__header">Купить Netcat CMS<br>от 5900 руб.</div>
			<div class="variants__description">Выберите готовое решение Неткэт<br>для своего сайта или <nobr class="typo">интернет-магазина</nobr></div>
			<img alt="Перейти" src="/images/icons/goto.png">
		</a>		
	</div>
	<div class="chooseDeveloper">
		<a href="#">
			<img alt="Выбрать разработчика" src="/images/choose.png">
			<div class="variants__header">Выбрать<br>разработчика сайта</div>
			<div class="variants__description">Мы нашли для вас лучших разработчиков<br>и дизайнеров сайтов и собрали их в общем рейтинге</div>
			<img alt="Перейти" src="/images/icons/goto.png">
		</a>
	</div>
</div>