<!doctype html>
<html lang="ru">
	<include src="blocks/head.html" title="Netcat"></include>
	<body>
		<div class="mainContainer">
			<include src="blocks/header.html"></include>
			<include src="blocks/top.html"></include>
			<include src="blocks/statistics.html"></include>
			<include src="blocks/redactions.html"></include>
			<include src="blocks/integration.html" title="интеграции в Netcaт cms" companies="companies1.html"></include>
			<include src="blocks/landings.html"></include>
			<include src="blocks/reviews.html"></include>
			<include src="blocks/support.html"></include>
			<include src="blocks/sites.html"></include>
			<include src="blocks/news.html"></include>
			<include src="blocks/integration.html" title="компании выбирают Netcaт cms" companies="companies2.html"></include>
			<include src="blocks/variants.html"></include>
			<include src="blocks/footer.html"></include>			
		</div>
		
		<script src="/js/jquery-3.1.1.min.js"></script>
		<script src="/js/scripts.js"></script>
	</body>
</html>